body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #FFDEE9, #B5FFFC);
    overflow: hidden;
    }


  canvas {
    border: 5px solid #4682B4;
    border-bottom-color: #E76F51; /* Coral Red border for a vibrant look */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 107, 107, 0.5); /* Soft shadow for depth */
    background: #457B9D; /* Slight transparent background for the canvas */
    backdrop-filter: blur(5px); /* Optional: blurring effect behind the canvas */
  }

  #gameOverMessage {
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: red;
    display: none;
  }

  /* w3schools shake animation*/
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   